@model AbantwanaWebMaster.Model.Category
@{
    ViewBag.Title = "Browse";
}
@*<link href="~/Content/StyleSheets.css" rel="stylesheet" />*@
<style>
    div.gallery {
        margin: 1px;
        border: 2px solid #ccc;
        float: left;
        width:   17%;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>
<h2>Browsing Category:@Model.Name</h2>

    @foreach (var item in Model.Items)
    {
        @*<li>
                @Html.ActionLink(item.Title, "Details", new { id = item.ItemId })
            </li>*@





            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">


                    @{
                        if (item.Picture != null)
                        {
                            var base64 = Convert.ToBase64String(item.Picture);
                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                            <a href='@Url.Action("Details", new { id = item.ItemId })'>
                                <img src='@imgsrc' />
                            </a>
                        }
                    }

                    


                </a>
                <div class="desc"> <a href='@Url.Action("Details", new { id = item.ItemId })'>View details</a></div>
            </div>

      
    }






