#menu {
    width: 25%;
    background: #000;
    padding-top: 00px;
    /*width: 0;*/
    position: fixed;
    z-index: 1;
    
    left: 0;
    /*background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;*/
}

    #menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
       
    }

    #menu li {
        position: relative;
    }

    #menu ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
    }

    #menu ul ul {
        display: none;
    }

    #menu ul li:hover ul {
        background: #000;
        display: block;
    }



.butlook {
    display: block;
    /*border-width: 1px;
    border-style: solid;
    border-color: #ddd;*/
    margin: 0;
    padding: 3px 3px;
   
   /* font-size: 100%;*/
    /*font-family: tahoma;*/
}
    .butlook:hover {
        /*background: #000033;*/
    }